
@{
    ViewBag.Title = "home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using ShopBanThuoc.Models
@model List<THUOC>

@section head{
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Hệ thống cửa hàng thuốc số 1, uy tín, chất lượng">
        <meta name="auther" content="A Plus Team">
        <link rel="shortcut icon" href="/Content/Images/icon.png">
        <title>Nhà Thuốc số một-Medicine shop</title>
        <link rel="stylesheet" href="/Content/css/bootstrap.css">
        <link rel="stylesheet" href="/Content/css/home.css">
        <script src="/Content/js/jquery-3.3.1.js"></script>
        <script src="/Content/js/bootstrap.js"></script>
        <script src="~/Content/js/Home.js"></script>
    </head>
}

<div class="container">
    <!-- Thanh điều hướng -->
    @Html.Action("_Navbar")
    <div class="row">
        <div id="main" class="col-lg-8 col-md-12 col-sm-12">
            <!-- SlideShow -->
            <div id="slide" class="carousel slide" data-ride="carousel">

                <ul class="carousel-indicators">
                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                    <li data-target="#slide" data-slide-to="1"></li>
                    <li data-target="#slide" data-slide-to="2"></li>
                    <li data-target="#slide" data-slide-to="3"></li>
                    <li data-target="#slide" data-slide-to="4"></li>
                </ul>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="img_slide" src="/Content/Images/banner-web-02.jpg" alt="Công Nghệ Web">
                    </div>
                    <div class="carousel-item">
                        <img class="img_slide" src="/Content/Images/banner-web-03.jpg" alt="Công Nghệ Web">
                    </div>
                    <div class="carousel-item">
                        <img class="img_slide" src="/Content/Images/banner-web-04.jpg" alt="Công Nghệ Web">
                    </div>
                    <div class="carousel-item">
                        <img class="img_slide" src="/Content/Images/banner-web-05.jpg" alt="Công Nghệ Web">
                    </div>
                    <div class="carousel-item">
                        <img class="img_slide" src="/Content/Images/banner-web-06.jpg" alt="Công Nghệ Web">
                    </div>
                    <!-- Nút điều khiển slides -->
                    <a class="carousel-control-prev" href="#slide" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#slide" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>

                </div>
            </div>


            <!-- End SlideShow -->
            <!-- . -->
            <!-- Product -->
            <!-- Biên ngoài ----------------là khung trang -->
            <!-- --------------------------------------------------------------------------- -->
            <div class="products">
                <div class="page-header" id="title-products">
                    <h3 class="float-left">
                        Danh sách sản phẩm
                    </h3>
                    <a href="#" class="float-right">
                        Xem Thêm
                        <svg style="height: 15px; width: 15px;" aria-hidden="true" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                            <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
                        </svg>
                    </a>
                </div>
                @{ var group = Model.GroupBy(r => Model.IndexOf(r) / 3).ToList();

                    foreach (var parentItem in group)
                    {
                        <div class="product-list card-deck">
                            @foreach (THUOC it in parentItem)
                    {
                        <div class="product-item card text-center">
                            <a href="/Home/product/@it.MaThuoc"><img src="/Content/Images/@it.URLAnh"></a>
                            <h4><a href="/Home/product/@it.MaThuoc">@it.TenThuoc</a></h4>
                            <p>Giá Bán: <span>@it.DonGia VNĐ</span></p>
                        </div>
                    }

                        </div>
                    }
                }
                @*<script>loadThuoc('getlistthuoc');</script>*@

            </div>
            <!-- End Product -->
            <!-- ------------------------------------------------------------------------------- -->

        </div>


        <div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
            <div id="banner">
                <div class="banner-item ">
                    <a href="#"><img class="img-fluid img_slide" src="/Content/Images/qc_2.png"></a>
                </div>
                <div class="banner-item">
                    <a href="#"><img class="img-fluid img_slide" src="/Content/Images/qc_3.png"></a>
                </div>

            </div>
        </div>


    </div>
</div>



